[package]
name = "jzfs"
version = "0.1.0"
edition = "2021"

[[bin]]
path = "bin/Migration.rs"
name = "Migration"

[[bin]]
path = "bin/ControlPlane.rs"
name = "ControlPlane"


[features]
postgres = []
mysql = []
sqlite = []

[dependencies]
tokio = { version = "1.41.1" ,features = ["full"] }

actix-web = { version = "4.9.0", features = ["default","cookies"]}
actix-session = { version = "0.10.1", features = ["redis-session","redis-pool","default"] }


sea-orm = { version = "1.1.1", features = [
    "default",
    "sqlx-all",
    "runtime-tokio",
]}

deadpool-redis = { version = "0.16.0",features = ["serde","rt_tokio_1"] }

lettre = {version = "0.11.10",features = [
    "smtp-transport",
    "serde",
    "rustls-tls",
    "rustls-native-certs",
    "hostname",
    "tokio1",
    "tokio1-rustls-tls",
    "tokio1-native-tls"
]}

time = { version = "0.3.36",features = [
    "local-offset",
    "serde",
    "formatting"
] }
uuid = { version = "1.11.0" ,features = [
    "v4",
    "serde",
    "default"
] }
serde = { version = "1.0.126", features = ["derive"] }
serde_json = { version = "1.0.133", features = ["std"] }
toml = { version = "0.8.19",features = ["indexmap","parse"] }

anyhow = "1.0.47"

sha256 = { version = "1.5.0", features = ["default","tokio"] }
base64 = { version = "0.22.1", features = ["default","std"] }

actix-web-prom = "0.9.0"
prometheus = { version = "0.13.4",features = ["default"] }
tracing-subscriber = { version = "0.3.19",features = ["default"] }
log = { version = "0.4.22",features = ["kv","serde"] }
rand = "0.8.5"
