// ServerInterface represents all server handlers.
type ServerInterface interface {
{{range .}}{{.SummaryAsComment }}
// ({{.Method}} {{.Path}})
{{.OperationId}}(ctx context.Context, w *JiaozifsResponse, r *http.Request{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}})
{{end}}
}

// Unimplemented server implementation that returns http.StatusNotImplemented for each endpoint.

type Unimplemented struct {}
 {{range .}}{{.SummaryAsComment }}
 // ({{.Method}} {{.Path}})
 func (_ Unimplemented) {{.OperationId}}(ctx context.Context, w *JiaozifsResponse, r *http.Request{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}}) {
	w.WriteHeader(http.StatusNotImplemented)
 }
 {{end}}
