.auth {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.auth-window {
    width: 460px;
    height: 660px;
    border: 1px saddlebrown solid;
    background: #555ab9;
}

@media screen and (min-width: 920px) {
    .auth-window {
        position: absolute;
        right: 230px;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
}

@media screen and (max-width: 920px) {
    .auth-window {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }
}