@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    display: inline;
}

:root {
    --explore-width: 100%;
    --explore-search-body-margin-top: 10rem;
    --explore-search-body-min-width: 1200px;
    --explore-hot-repo-width: 80%;
    --explore-hot-repo-margin-left: 10%;
    --grid-columns: repeat(4, 1fr);
    --gap: 1rem;
}
