.markdown-content {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.markdown-content h1 {
    font-size: 2.5em;
    color: #333;
    margin-top: 0;
}

.markdown-content h2 {
    font-size: 2em;
    color: #444;
    margin-top: 1.5em;
}

.markdown-content h3 {
    font-size: 1.5em;
    color: #555;
    margin-top: 1.2em;
}

.markdown-content p {
    margin: 1.2em 0;
    color: #444;
}
.markdown-content img {
    margin: 1.2em 0;
    color: #444;
    max-height: 70px
}

.markdown-content a {
    color: #2980b9;
    text-decoration: none;
    border-bottom: 1px solid #2980b9;
}

.markdown-content a:hover {
    color: #2c3e50;
    border-bottom-color: #2c3e50;
}
.markdown-content ul {
    list-style-type: circle;
    padding-left: 20px;
    margin: 1.5em 0;
    color: #333;
}

.markdown-content ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin: 1.5em 0;
    color: #333;
}

.markdown-content li {
    margin: 4px 0;
    font-size: 1.1em;
    position: relative;
    padding-left: 5px;
}

.markdown-content li::before {
    font-weight: 900;
    position: absolute;
    left: 0;
}


.markdown-content blockquote {
    margin: 1.5em 0;
    padding: 0.5em 1em;
    border-left: 4px solid #ccc;
    background-color: #f9f9f9;
    color: #666;
}

.markdown-content code {
    background-color: #f5f5f5;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Fira Code', monospace;
}

.markdown-content pre {
    margin: 1.5em 0;
    padding: 1em;
    color: #fff;
    overflow-x: auto;
    font-family: 'Fira Code', monospace;
    border-radius: 5px;
}

.markdown-content code[class*="language-"],
.markdown-content pre[class*="language-"] {
    text-shadow: none;
    color: #fff;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    color: #ccc;
}

.token.namespace {
    opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number {
    color: #e90;
}

.token.property,
.token.function {
    color: #7f77ff;
}

.token.attr-name {
    color: #e90;
}

.token.string {
    color: #690;
}

.token.boolean {
    color: #f5ca1d;
}

.token.punctuation {
    color: #e90;
}

.token.entity {
    color: #e90;
    cursor: help;
}

.token.url,
.token.symbol,
.token.keyword {
    color: #f5ca1d;
}

.token.keyword + .token.url {
    color: #f5ca1d;
}

.token.atrule,
.token.attr-value,
.token.keyword.control,
.token.keyword.operator,
.token.keyword.namespace {
    color: #f5ca1d;
}

.token.selector {
    color: #e90;
}

.token.sourceCode {
    background-color: #2d2d2d;
    color: #f8f8f2;
}

.token.keyword {
    color: #f92672;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #75715e;
}

.token.punctuation {
    color: #fff;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a6e22e;
}

.token.variable,
.token.template-variable,
.token.link,
.token.attr-value,
.token.regex,
.token.atrule {
    color: #f8f8f2;
}

.tokenimportant {
    color: #ff9248;
    font-weight: bold;
}

.token.bold {
    color: #fff;
    font-weight: bold;
}

.token.italic {
    color: #fff;
    font-style: italic;
}

.token.entity {
    cursor: help;
}