
.explore {
    width: var(--explore-width);
    height: auto;
}

.explore-hot-tabs {
    margin-top: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.explore-search {
    width: var(--explore-width);
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.explore-search-body {
    position: relative;
    margin-top: var(--explore-search-body-margin-top);
    width: 50%;
}

@media screen and (max-width: 1860px) {
    .explore-search-body {
        min-width: var(--explore-search-body-min-width);
    }
}

@media screen and (max-width: 1200px) {
    .explore-search-body {
        width: var(--explore-width);
    }
}

.explore-search-ins {
    width: var(--explore-width);
}

.explore-search-input {
    display: flex;
    gap: var(--gap);
}

.explore-search-checkbox {
    width: var(--explore-width);
    display: flex;
    gap: var(--gap);
    margin-top: var(--gap);
}

.explore-hot-repo {
    display: grid;
    grid-template-columns: var(--grid-columns);
    gap: var(--gap);
    align-items: center;
    justify-content: center;
    width: var(--explore-hot-repo-width);
    margin-left: var(--explore-hot-repo-margin-left);
}

.explore-hot-repo-item {
    width: var(--explore-width);
}
